.linear_gradient{
  background: linear-gradient(to right, #6bcddd ,  #de42f5);
}
.Right_Side_Selected{
  background-color: #000000;
  opacity: .5;
}
.Left_Side_Selected{
  background-color: #CCCCCC;
}
.Video_Nav_Filters{
  background: #EFF0FE;
}
.Video_Nav_Filters:hover{
  background: linear-gradient(90deg,#69CFDD
,#DF40F5
);
}



.Podcast_Top_Videos::-webkit-scrollbar{
  display: none;
}

.revOverFlow::-webkit-scrollbar{
  display: none;
}
.JobFilScr::-webkit-scrollbar{
  display: none;
}
.SVTBottom{
  background-color: rgba(75, 75, 75, 0.201);
  backdrop-filter: blur(6px);
}
.VideosBgBlured{
  background-color: rgba(0, 0, 0, 0.073);
  backdrop-filter: blur(3px);
}
.JobButtonBgBlur{
  background-color: #ffffff3d  ;
  backdrop-filter: blur(3px);
}

.PodcastSuccessGradient{
  background: linear-gradient(90deg,#69CFDD,#DF40F5);
}

.PodcastSuccessGradientText{
  background: linear-gradient(90deg,#69CFDD,#DF40F5);
  background-clip: text;
  color: transparent;
}








        /* 3D CARD ROTATION */

        .card-container {
          perspective: 1000px;
          height: 100%;
      }

      .card {
          width: 100%;
          height: 100%;
          position: relative;
          transform-style: preserve-3d;
          transition: transform 0.6s;

      }

      .card.is-flipped {
          transform: rotateY(180deg);
      }

      .card-face {
          position: absolute;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          font-size: 2rem;
          border: 1px solid #000;
          border-radius: 8px;
      }

      .card-front {
          /* background-color: #f0f0f0; */
          background: linear-gradient(#9C2CF3,#3A49F9);
      }

      .card-back {
        background: linear-gradient(#9C2CF3,#3A49F9);
        transform: rotateY(180deg);
      }

     


      .model{
        height: 0;
        width: 18%;
        background-color: white;
        border-radius: 10px;
        margin-left: 1000px;
        margin-top: -6px;
        position: absolute;
        display: none;
      
      }
      .model2{
        height: 40vh;
        width: 18%;
        background-color: white;
        border-radius: 10px;
        margin-left: 980px;
        margin-top: 50px;
        padding: 10px;
        display: block;
        position: absolute;
        box-shadow: 2px 3px 7px 2px grey;
      }

      
      .ShadedBG{
        background: linear-gradient(rgba(0, 0, 0, 0.347), rgba(0, 0, 0, 0.288));
      }


      @media (max-width: 700px) {
        .Ticket_Tickets{
          overflow-x: scroll;
        }
        .Ticket_Tickets .ticket{
          width: 49%;
        }
      }

      @media (max-width : 500px) {
        .PCS_Flex{
          flex-wrap: wrap;
        }
        .PCS_Flex img{
          width: 80%;
          height: 40vh;
        }
        .PCS_Flex .PCS_Child1{
          width: 100%;
        }
        .Ticket_Tickets .ticket{
          width: 69%;
        }
        .Podcast_Top_Videos .ticket_img{
          width: 95%;
        }

        .Podcast_Top_Videos .PPPodcast{
          width: 49.4%;
        }

        
        .Podcast_Top_Videos .PPEvent{
          width: 49.4%;
        }


        .Podcast_Top_Videos .PPJob{
          width: 49.4%;
        }
      }