.contactform{
    height: auto;
    width: 50%;
    border-right: 1px solid rgb(221, 220, 220);
    font-size: smaller;
}
.detail{
    height: auto;
    width: 45%;
}
.contactinput1{
    padding: 5px;
    width: 250px;
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
    margin-bottom: 35px;
    margin-top: 5px;
}
.btnpayment1{
    background-color: rgb(126, 124, 243);
    color: white;
    border: none;
    padding: 10px;
    width: 150px;
    border-radius: 5px;
    float: right;
}
.detail img{
    height: 20vh;
    border: 1px solid black;
    border-radius: 5px;
}
.borderdiv{
    height: 20px; 
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px dashed rgb(159, 157, 246);
}